{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <div class="profile">

        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    {% if object.profile_picture %}
                        <img src="{{ object.profile_picture }}" alt="img8">
                    {% else %}
                    <img src="{% static 'images/person.png' %}" alt="img8">
                    {% endif %}
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ object.username }}</p>

                    {% if is_owner %}
                    <a href="{% url 'profile-edit' pk=object.pk %}">
                        <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                    </a>

                    <a href="{% url 'profile-delete' pk=object.pk %}">
                        <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                    </a>
                    {% endif %}
                </div>
                <div class="data">
                    <span>{{ toys_count }}</span>
                    <p>Toys</p>
                    <span>{{ likes_count }}</span>
                    <p>Likes</p>
                </div>
                {% if object.gender %}
                    <p class="gender">{{ object.gender }}</p>
                {% endif %}
                {% if object.get_full_name %}
                    <h3 class="names">{{ object.get_full_name }}</h3>
                {% endif %}
                <p class="sellerinfo"><b><u>Seller's Information:</u></b></p>
                <p>Email: </p>
                <p class="email"><b><i>{{ object.email }}</i></b> </p>
                <p>Phone Number:</p>
                <p class="email"><b><i>{{ object.phone_number }}</i></b></p>


            </div>
        </div>
        <div class="pets">
            <div class="statuses">

        <div class="pet-photos">
            <div class="toys-photos">
            {% if toys %}
                {% for toy_photo in toys %}
                    <p class="toy-name-profile-details">{{ toy_photo.toy_name }}</p>
                <a href="{% url 'details photo' pk=toy_photo.pk %}">
                    <img src="{{ toy_photo.toy_photo.url }}"
                         alt="pet img">
                </a>
                {% endfor %}
            {% else %}
                <p>User has no toys to sell yet!</p>
            {% endif %}
        </div>
        </div>

    </div>
{% endblock %}